/* nav related styles */
body {
  font-family: "Open Sans", sans-serif;
}
nav {
  display: flex;
  /* margin: 5px; */
  align-items: center;
  justify-content: space-between;
  padding-left: 200px;
}

.nav-title {
  color: #181818;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 45px;
  font-weight: 800;
}
.nav-letter {
  color: #f66d0c;
  /* font-size: 45px;
  font-weight: 800; */
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  padding: 15px 35px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}
/* header related styles */
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}
.banner {
  padding: 30px, 30px, 0px, 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 200px;
}
/* .buttons {
  display: flex;
  justify-content: space-around;
} */

main {
  max-width: 1140px;
  margin: auto;
}
main section {
  margin-top: 130px;
}
/* margin: auto; whatever space is left, it will be divided in both sides */
.banner-content {
  max-width: 500px;
}
.banner-greeting {
  font-style: normal;
  font-weight: 600;
  color: var(--Dark-02, #474747);
  margin-bottom: 0;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  color: var(--Dark-01, #181818);
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-description {
  color: var(--Dark-03, #757575);
  font-size: 18px;
  width: 585px;
  font-weight: 400;
  line-height: 30px;
}
/* main section styles */
/* about section styles */
.about {
  padding: 131px;
  border-radius: 10px;
  background-color: #fff8f3;
  margin: 130px 0;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
  /* text-align: center; */
}
.about-info {
  text-align: center;
}
.about-info-title {
  color: #757575;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 5px;
}
.about-info-description {
  color: #474747;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 5px;
}
/* What I do styles */
#what-i-do-description {
  padding: 30px 150px;
}
.skill-container {
  display: flex;
  gap: 24px;
}
/* gap new style, skill container parent class */
.skill {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* box-shadow */
.skill-title {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
  /* line-height: normal; */
}
.skill-description {
  width: 201px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  /* line-height: 28px; */
}
/* Resume section */
.my-resume-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-container {
  display: flex;
  gap: 50px;
}
.resume-column {
  padding-bottom: none;
}
.resume-container hr {
  margin: auto;
}
.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: none;
}
.resume-item-institute {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-top: none;
}
.resume-item-description {
  width: 510px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.download-cv {
  /* align-items: center; */
  text-align: center;
  padding-top: 50px;
}
/* footer-style */
.footer-column {
  width: 50%;
}
/* each column will take half of the space */
footer {
  display: flex;
  background-color: #fff8f3;
  padding: 130px 220px;
  justify-content: space-around;
  margin-top: 113px;
  gap: 100px;
}
.contact input[type="text"],
.contact input[type="email"],
textarea {
  display: block;
  margin-bottom: 24px;
  width: 100%;
  padding: 18px 30px;
  color: #757575;
  font-size: 16px;
  border-radius: 5px;
  background: #fff;
  border: 0;
}
.social-links a {
  margin-right: 14px;
}
